body {
    background: linear-gradient(to right, grey, lightgrey,lightgrey,lightgrey,lightgrey,lightgrey,lightgrey, grey);
    margin: auto;
}

nav {
    background-color: darkcyan;
    width: auto;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-right: 50px;
    float: right;
}

nav a:hover {
    color: cyan;
    transform: scale(1.05);
    text-decoration: underline;
}

header {
    color: darkcyan;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: left;
}

#mainDiv {
    display: grid;
    column-gap: 10px; 
    row-gap: 10px; 
}
    
.aboutMe {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 75%;
    justify-self: center;
}

.aboutMe h2 {
    text-align: center;
    color: darkcyan;
    text-decoration: underline;
}

.aboutMe p {
    text-align: center; 
    font-size: 19px;
    justify-self: center;
    align-self: center;
    max-height: 300px;
    min-width: 200px;
}

aside {
    grid-column-start: 2; 
    grid-row-start: 1;
    grid-row-end: 3;
    background: linear-gradient(to right, darkcyan ,darkcyan,rgba(0,0,0,0));
    padding-right: 300px;
    border-radius: 20px;
    max-height: 480px;
}

aside h2 {
    margin-left: 10px;
    color: aliceblue;
    font-weight: bold;
}

aside img {
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#projects {
    display: block;
    width: 100%;
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: black;
}

#projects h3 {
    color: darkcyan;
    text-decoration: underline;
    font-weight: bolder;
    
}

.projButton {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    background-color: darkcyan;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

}

.projButton:hover {
    background-color: cyan;
    color: black;
    text-decoration: underline;
    transform: scale(1.05);
}


.videoContainer {
    position: relative;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    justify-self: center;
    align-self: center;
}

.videoInsert {
    width: 600px;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
}

.description {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 290px;
    margin-right: 50px;
    margin-top: 0px;
    margin-left: 30px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: larger;
    
}


#skillsH2 {
    text-align: center;
}

#skills {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    max-height: 500px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}


#skills #css, #html, #javascript {
    margin-left: 15px; 
}

#skills #maya, #blender {
    margin-left: -15px;
}

#skills .skillImage {
    display: inline-block;
    position: relative; 
    margin-right: 50px;
    width: auto;
    height: 90px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    
}

#maya {
    transform:rotateY(360deg)
}

#blender {
    transform:rotateY(360deg)
}

#css {
    transform:rotateY(360deg)
}

#html {
    transform:rotateY(360deg)
}

#javascript {
    transform:rotateY(360deg)
}

#maya:hover {
    transform: rotateX(0deg) scale(1.6);
}

#blender:hover {
    transform: rotateX(0deg) scale(1.6);
}

#css:hover {
    transform: rotateX(0deg) scale(1.6);
}

#html:hover {
    transform: rotateX(0deg) scale(1.6);
}

#javascript:hover {
    transform: rotateX(0deg) scale(1.6);
}

/* Contact Page ------------------------------------------------------*/

#contactDiv {
    display: flex;
    background-color: darkgray;
    margin-top: 30px;
    padding:10px;
    color: black;
    width: 50%;
    height: 250px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

#contactDiv h3 {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contactDiv h3 ul li{
    list-style-type: none;
    padding: 20px;
    font-size: larger;
}

.contactLink {
    color: darkcyan;
}

.contactLink:hover {
    color: cyan;
}

#contactH2 {
    color: darkcyan;
    text-align: center;
}


/* tablet */
@media screen and (min-width: 640px) {

    html {
        margin: 0 auto; 
    }

    body {
        max-width: 640px;
    }

    aside {
        padding-right: 30px;
    }

    header {
        text-align: center;
    }

    #skills .skillImage {
        width: auto;
        height: 70px;
    
    }

    .aboutMe p{
        font-size: 17px;
    }

    .description {
        position: relative;
        width: 600px;
        height: 100px;
        margin-left: 45px;
        margin-top: 10px;
    }

    .videoInsert {
        margin-left: 45px; 
    }


}
/* end tablet */

/*desktop viewport*/
@media screen and (min-width: 960px) {

   body {
    max-width: 960px;
   }

   header {
    text-align: left;
   }

   aside {
    padding-right: 200px;
   }

   .aboutMe p{
        font-size: larger;
    }
    
    .description {
        position: absolute;
        width: 30%;
        height: 290px;
    }

     .videoInsert {
        margin-left: 0px
    }

}
/*End desktop*/
